.activation-inputs {
  display: flex;
  flex-flow: column wrap;
  margin-top: 4vh;
  margin-bottom: 8vh;
  width: 22vw;

  span {
    &.username {
      margin-bottom: 4vh;
      font-size: 1.5em;
      text-align: center;
    }

    &.instruction {
      margin-top: 3vh;
      margin-bottom: 3vh;
      font-size: 1.1em;
      color: black;
      font-style: italic;
      text-align: center;
    }
  }
  @media (max-width: 800px) {
    width: 70vw;
  }
}
