.loading-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 1.2em;
  box-shadow: 0 0 40px -10px #000;
  padding: 5rem;
  max-width: calc(100vw - 40px);

  .loading-tagline {
    margin-top: 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    max-width: 18rem;

    span {
      text-align: center;
      color: black;
      font-size: 1.3em;
    }
  }

  @media (max-width: 992px) {
    padding: 3rem;

    .loading-tagline {
      span {
        font-size: 1em;
      }
    }
  }
}
