.main-dashboard-loading {
  background-image: url("../../assets/images/simedis/Banner-color_gradient-01.png");
  background-size: cover;
}

.main-dashboard {
  overflow-x: hidden;
  overflow-y: auto;

  > .row {
    margin: 0;
  }
}

.dashboard-container {
  display: flex;
  flex-flow: row wrap;
}

.dashboard-loading-container-0 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh+0.2vh;
  margin-top: -0.2rem;

  .dashboard-loading-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    border-radius: 1.2em;
    height: auto;
    box-shadow: 0 0 40px -10px #000;
    padding: 5vh 5vh;
    max-width: calc(100vw - 40px);
  }
}

.dashboard-content {
  background-color: #ededee;
  transition: all 0.5s ease-out;
  padding: 0;

  .dash-burger-menu {
    img {
      height: 2.5rem;
    }
    display: flex;
    justify-content: flex-start;
  }

  .dashboard-tab-content {
    height: calc(100vh - 138px);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
      height: calc(100vh - 248px);
      justify-content: unset;

      .dashboard-tab-pane {
        transition: all 0.5s ease-out;
      }
    }

    @media (max-height: 650px) {
      height: calc(100vh - 60px);
    }
  }

  &.toggled {
    max-width: 0%;
    padding-left: unset;
  }

  &.not-toggled {
    max-width: 100%;
    box-shadow: 0 0 40px -10px #000;
  }
}
