.login-inputs {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10vh;
  margin-bottom: 8vh;
  width: 20vw;
  min-height: 13rem;
  transition: all 0.5s ease-out;

  @media (max-width: 800px) {
    width: 70vw;
  }
}
